---
import ImportantProject from "./ImportantProject.astro";
import MinorProject from "./MinorProject.astro";
import { TECHNOLOGIES } from "../../utils/techs.js";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");

const importantProjects = [
  {
    name: "El Villanense - Portal de Noticias",
    image: "el-villanense.avif",
    favicon: "el-villanense.png",
    technologies: [
      TECHNOLOGIES.NEXTJS,
      TECHNOLOGIES.FIREBASE,
      TECHNOLOGIES.CLOUDINARY,
      TECHNOLOGIES.REACT,
      TECHNOLOGIES.HTML,
      TECHNOLOGIES.CSS,
      TECHNOLOGIES.TYPESCRIPT,
    ],
    link: "https://www.elvillanense.com.ar",
    github: null,
  },
  {
    name: "Comuna de Villa Ana",
    image: "comuna-villa-ana.avif",
    favicon: "comuna-villa-ana.avif",
    technologies: [
      TECHNOLOGIES.ASTRO,
      TECHNOLOGIES.HTML,
      TECHNOLOGIES.CSS,
      TECHNOLOGIES.JAVASCRIPT,
      TECHNOLOGIES.TAILWIND,
    ],
    link: "https://villaana.gob.ar",
    github: null,
  },
  {
    name: "Liga Ocampense de Fútbol",
    image: "lof.avif",
    favicon: "escudo-lof.avif",
    technologies: [TECHNOLOGIES.NEXTJS, TECHNOLOGIES.SUPABASE],
    link: "https://ligaocampensedefutbol.vercel.app",
    github: null,
  },
];

const minorProjects = [
  {
    name: "CalcuCuotas",
    description:
      "Calculadora de cuotas, intereses, tasas, impuestos, etc, para usuarios de PosNet. Google Sheets como base de datos. Trabajo a pedido de empleado de PosNet.",
    image: "calcucuotas.avif",
    favicon: "calcucuotas.png",
    technologies: [TECHNOLOGIES.ASTRO, TECHNOLOGIES.GOOGLE_SHEETS],
    link: "https://posnet-financiacion.vercel.app",
  },
  {
    name: "The Movie Database",
    description:
      "Información de películas, programas de tv, actores y actrices. Consume la API de The Movie Database. Tiene la funcionalidad de guardar en favoritos.",
    image: "tmdb.avif",
    favicon: "tmdb.png",
    technologies: [TECHNOLOGIES.REACT, TECHNOLOGIES.TAILWIND],
    link: "https://tmdb-adan-rodriguez.vercel.app",
    github: "https://github.com/adan-rodriguez/tmdb",
  },
  {
    name: "Buscador de películas",
    description:
      "Un simple buscador de películas. Consume la API de The Open Movie Database. Detalle interesante el 'debouncing' al tipear en el buscador.",
    image: "buscador-peliculas.avif",
    favicon: "buscador-peliculas.avif",
    technologies: [TECHNOLOGIES.REACT],
    link: "https://buscador-peliculas-adan-rodriguez.vercel.app",
    github: "https://github.com/adan-rodriguez/react-buscador-peliculas",
  },
  {
    name: "Shopping cart",
    description:
      "Practicando mis habilidades con un simple carrito de compras.",
    image: "shopping-cart.avif",
    favicon: "shopping-cart.svg",
    technologies: [TECHNOLOGIES.REACT],
    link: "https://shopping-cart-adan-rodriguez.vercel.app",
    github: "https://github.com/adan-rodriguez/react-shopping-cart",
  },
  {
    name: "Tatetí",
    description: "Practicando React y lógica de programación. MVP de tatetí.",
    image: "tateti.avif",
    favicon: "tateti.avif",
    technologies: [TECHNOLOGIES.REACT],
    link: "https://playtateti.vercel.app/",
    github: "https://github.com/adan-rodriguez/tateti",
  },
  {
    name: "Hacker News",
    description:
      "Obtiene noticias usando SWR y la API de Hacker News. Implementa infinite scroll utilizando la API Intersection Observer. Muestra un placeholder para noticias y comentarios mientras cargan.",
    image: "hacker-news.avif",
    favicon: "hacker-news.gif",
    technologies: [
      TECHNOLOGIES.REACT,
      TECHNOLOGIES.TAILWIND,
      TECHNOLOGIES.JAVASCRIPT,
    ],
    link: "https://hacker-news-prueba-tecnica.onrender.com",
    github: "https://github.com/adan-rodriguez/hacker-news-prueba-tecnica",
  },
  {
    name: "Library App",
    description: "Gestión de libros. CRUD App.",
    image: "library-app.avif",
    favicon: "library-app.avif",
    technologies: [TECHNOLOGIES.REACT, TECHNOLOGIES.REDUX_TOOLKIT],
    link: "https://library-app-adan-rodriguez.vercel.app",
    github: "https://github.com/adan-rodriguez/library-app",
  },
  // {
  //   name: "My projects - Expanding cards",
  //   description:
  //     "Muestro todos mis proyectos con cards que presentan algunos efectos y animaciones.",
  //   image: "my-projects-expanding-cards.avif",
  //   technologies: [
  //     TECHNOLOGIES.HTML,
  //     TECHNOLOGIES.CSS,
  //     TECHNOLOGIES.JAVASCRIPT,
  //   ],
  //   link: "https://my-projects-expansive-contractive-cards.vercel.app",
  //   github:
  //     "https://github.com/adan-rodriguez/my-projects-expansive-contractive-cards",
  // },
  {
    name: "Checkpoint #2 - React Skill Factory by Avalith.",
    description:
      "Proyecto de un Bootcamp de React donde se trabajó asincronismo, consumo de APIs y manejo de formularios.",
    image: "checkpoint2-react-skillfactory-by-avalith.avif",
    favicon: "checkpoint2-react-skillfactory-by-avalith.avif",
    technologies: [TECHNOLOGIES.REACT, TECHNOLOGIES.JAVASCRIPT],
    link: "https://checkpoint2-react-skillfactory-by-avalith.vercel.app",
    github:
      "https://github.com/adan-rodriguez/checkpoint2-react-skillfactory-by-avalith",
  },
  {
    name: "Codo a Codo 4.0 - Bootstrap",
    description:
      "Página simple que tiene como detalle más importante que está hecha con Bootstrap.",
    image: "codoacodo-bootstrap.avif",
    favicon: "codoacodo-bootstrap.avif",
    technologies: [TECHNOLOGIES.BOOTSTRAP],
    link: "https://bootstrapractice.vercel.app",
    github: "https://github.com/adan-rodriguez/bootstrap-practice",
  },
];
---

<section id="projects">
  <section class="important_projects_container">
    <h2>Proyectos destacados</h2>
    <ul class="important_projects">
      {
        importantProjects.map(
          ({ name, image, favicon, technologies, link, github }, index) => (
            <ImportantProject
              name={name}
              project={projects[index]}
              image={image}
              favicon={favicon}
              technologies={technologies}
              link={link}
              github={github}
            />
          )
        )
      }
    </ul>
  </section>

  <section class="minor_projects_container">
    <h2>Otros proyectos</h2>
    <ul class="minor_projects">
      {
        minorProjects.map(
          ({
            name,
            description,
            image,
            favicon,
            technologies,
            link,
            github,
          }) => (
            <MinorProject
              name={name}
              description={description}
              image={image}
              favicon={favicon}
              technologies={technologies}
              link={link}
              github={github}
            />
          )
        )
      }
    </ul>
  </section>
</section>

<style>
  .important_projects_container,
  .minor_projects_container {
    padding: 4rem 0;
  }

  h2 {
    width: fit-content;
    font-weight: 900;
    font-size: 2rem;
    background-image: linear-gradient(
      to right,
      var(--color-primary),
      var(--text-color-primary)
    );
    color: transparent;
    -webkit-background-clip: text;
    margin-bottom: 2rem;
  }

  .important_projects {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
  }

  .minor_projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 2rem;
  }
</style>
